[Desktop Entry]
Name=Ghidra (Chinese)
Comment=Ghidra 软件逆向工程套件 · 社区汉化版
Type=Application
Categories=Development;Security;
Exec=/app/bin/ghidra
Terminal=false
Icon=io.github.TC999.ghidra_chinese
Keywords=reverse-engineering;disassembler;decompile;逆向;反编译;汉化;
